.component-airport-result-row {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
  height:32px;
}

.component-airport-result-row:hover {
  background-color: #eee;
}

.component-airport-result-row img {
  width: 32px;
  height: 32px;
  padding-right: 10px;
}

.component-airport-result-row .title {
  position: relative;
}

.component-airport-result-row .info {
  float: right;
  position: relative;
  right: 10px;
  color: #ccc;
  display: none;
}

.component-airport-result-row .subtitle {
  font-size: 0.75em;
  font-style: italic;
  padding-left: 5px;
}

.component-airport-result-row:hover .info {
  display: inline-block;
}
